<li class="reminder__item">
    <a href="{% url 'edit' reminder.pk %}">
    <h3 class="title {% if reminder.is_complete %}complete{% endif %}">{{ reminder.title }}</h3>
    </a>

    <p class="description">{{ reminder.description }}</p>
{#        {% if reminder.due_date %}#}
{#            <p class="due">Due: {{ reminder.due_date }}</p>#}
{#        {% endif %}#}

    <form method="POST" action="{% url 'toggle' reminder_id=reminder.pk %}">
        {% csrf_token %}
            <button type="submit">
            {% if reminder.is_complete %}
                 <i class="fas fa-clipboard-check"></i>
{#                <span class="glyphicon glyphicon-red">&times;</span>#}
            {% else %}
                <i class="fas fa-clipboard-list"></i>
                {% if reminder.due_date %}
            <p class="due">Due: {{ reminder.due_date }}</p>
        {% endif %}
{#                <span class="glyphicon glyphicon-blue">&times;</span>#}
            {% endif %}
        </button>
    </form>
</li>
